{% extends 'layout.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h2>Register</h2>
    {% if success %}
        <p>{{ success }}</p>
    {% else %}
        <form action="" method="POST">
            <label for="email">Email:</label>
            <input type="email" name="email" value="{{ data.email|default('') }}">
            {% if errors.email %}
                <p>{{ errors.email }}</p>
            {% endif %}
            <br><br>
            <label for="password">Password:</label>
            <input type="password" name="password">
            {% if errors.password %}
                <p>{{ errors.password }}</p>
            {% endif %}
            <br><br>
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password">
            <br><br>
            <input type="submit" value="Register">
        </form>
        {% if errors.db %}
            <p>{{ errors.db }}</p>
        {% endif %}
    {% endif %}
{% endblock %}